# Development tool and environment configuration
.git/
.github/
.idea/
.vscode/
resources/
renovate.json

# Ignore common archive and executable files
*.exe
*.zip
*.tar.gz
*.gz
*.tgz
*.rar
*.7z
*.jar

# Temporary or lock files
*.tmp

# Ignore configuration and script files
.gitignore
.env.template
.env
README.md
LICENSE

# Docker-specific files
Dockerfile
docker-compose.yml
